.tarjeta-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 3px 5px #dfdfdf;
    margin: 1% 5% 1% 5%;
    padding: 1% 5% 1% 1%;
    border-radius: 10px;
    img{
        height: 100px;
    }
    &:hover{
        border: 1px solid black;
    }
}

