.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    margin: 2.5% 0% 1.5% 2.5%;
    height: 100%;
    box-shadow: 1px 3px 5px #ebeaea;
    padding: 1%;
    img{
        width: 100%;
    }
    &:hover{
        border: 1px solid black;
    }
}