.carrito{
    display: flex;
    align-items: center;
    .carrito-cant-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: black;
        color: white;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        .carrito-cant{
            font-size: 19px;
        }
    }
}