.tarjeta{
    width: 22%;
    margin: 2.5% 0% 1.5% 2.5%;
    height: 100%;
    box-shadow: 1px 3px 5px #ebeaea;
    padding: 1%;
    .items-tarjeta{
        text-decoration: none;
        color: black;
        img{
            width: 100%;
        }
    }
    &:hover{
        border: 1px solid black;
    }
}