.modal-container{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: white;
    width: 40vw;
    height: 85vh;
    box-shadow: 1px 5px 5px #00000047;
    padding: 20px;
    overflow: hidden;
    border: 1px solid black;
}
.modal-container .cruz {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
}