.navegador{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 1px 3px 5px #b1afaf;
    img{
        margin-left: 2.5%;
        padding-top: 1%;
        padding-bottom: 1%;
        height: 100%;
    }
    .navegador-menu{
        width: 70%;
        display: flex;
        align-items: center;
        list-style: none;
        li{
            margin-left: 5%;
            margin-right: 5%;
            button{
                background: none;
                border: none;
                font-size: 20px;
            }
        }
    }
}