.navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 1px 3px 5px #b1afaf;
    img{
        margin-left: 2.5%;
        padding-top: 1%;
        padding-bottom: 1%;
        height: 100%;
    }
    .carrito{
        margin-right: 2.5%;
    }
    .navegador-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 50%;
        li{
            padding-left: 5%;
            padding-right: 5%;
            button{
                background: none;
                border: none;
                font-size: 20px;
            }
        }
    }
}