@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*{
    font-weight: 400;
    font-family: 'Teko', sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 8%;
}