.seccion-favs{
    margin-top: 2.5%;
    .titulo-favs{
        display: flex;
        align-items: center;
        margin-left: 4%;
        font-size: 40px;
        text-decoration: underline;
        .tachito-fav{
            cursor: pointer;
            width: 24px;
            height: 100%;
            margin-left: 1%;
        }
    }
    .lista-favs{
        display: flex;
        flex-wrap: wrap;
        margin-left: 1.5%;
    }
}